@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center" style="font-family: Kalam">
    <h1 class="display-4">Welcome to the Coaster Factory</h1>
    <a asp-area="" asp-controller="Home" asp-action="Product">Our Products</a>@*Change welcome message *@
</div>
<br/>
<br/>


<td>
     <img  src="~/Images/I1.jpg" alt="" height=270 width=270/>
</td>
<td>
    <img src="~/Images/I2.jpg" alt="" height=270 width=270 />
</td>
<td>
    <img src="~/Images/I3.jpg" alt="" height=270 width=270 />
</td>
<td>
    <img src="~/Images/I4.jpg" alt="" height=270 width=270 />
</td>